<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <p id="p1">The items you may like can be added to the cart/WishList : </p>
  <table class="table">
    <thead>
      <tr id="row">
        <!-- <th scope="col">Id</th> -->
        <th scope="col">Images</th>
        <th scope="col">Title</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">DiscountPercentage
          <div class="column">
            <button class="btn btn-info" (click)="sortDiscountAsc()">^</button>
            <button class="btn btn-info" (click)="sortDiscountDesc()">v</button>
          </div>
        </th>
        <th scope="col"> Rating
          <div class="column">
            <button class="btn btn-info" (click)="sortRatingAsc()">^</button>
            <button class="btn btn-info" (click)="sortRatingDesc()">v</button>
          </div>
        </th>
        <th scope="col">Description</th>
        <th scope="col">AddToCart</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <!-- <th scope="row">{{i+1}}</th> -->
        <td>
          <img src="{{product.image}}" width="50" height="50">
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.discountPercentage }}</td>
        <td>{{ product.rating }}</td>
        <td>{{ product.description }}</td>
        <td>
          <button type="button" class="btn btn-outline-dark" (click)="addItem(product)">AddToCart</button>
        </td>
      </tr>

    </tbody>
  </table>
</section>
