<table class="table">

  <thead>
    <tr id="row">
      <th scope="col">Sl.no</th>
      <th scope="col">Title</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Product State</th>
      <th scope="col">Quantity</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products ; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{ product.title}}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.productState }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <img src="{{product.image}}" width="60" height="60">
      </td>
    </tr>

  </tbody>
</table>
<!-- <div class="container">
   <button type="button" class="btn btn-outline-success" (click)="buyItem()">BuyItems</button>
</div> -->
