a {
  text-decoration: none;
  color: rgba(8, 8, 9, 0.873);
  font-size: large;
  padding: auto;
}

#ex {
  margin-left: 700px;
  font-size: 25px;
}

a:hover {
  color: rgb(24, 85, 215);
  font-size: 120%;
}

#nav {
  background-color: aqua;
}
