

<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-light">

      
       <ul role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/Home">HomePage</a>
      </ul>
      <br>
      <ul role="presentation"
          routerLinkActive="active">
        <a routerLink="buyers">Buyers</a>
    </ul>
      <br>
      <ul role="presentation"
          routerLinkActive="active">
        <a routerLink="sellers">Sellers</a>
      </ul>

      <ul role="presentation"
          routerLinkActive="active">
        <a routerLink="productList">ProductList</a>
      </ul>

      <ul role="presentation"
          routerLinkActive="active">
        <a routerLink="wishlist">WishList</a>
      </ul>

      
      <ul role="presentation"
          routerLinkActive="active">
          <a id="ex" routerLink="/">Login</a>
        
      </ul>
</nav>

<div class="div2">
  <router-outlet></router-outlet>
</div>